* {
    line-height: 1.2;
    margin: 0;
}

html {
    color: #C7C9CB;
    background-color: #222831;
    display: table;
    font-family: sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
}

body {
    display: table-cell;
    vertical-align: middle;
    margin: 2em auto;
}

h1 {
    font-size: 2em;
    font-weight: 600;
}

h2 {
    font-size: 0.9em;
    font-weight: 400;
}

p {
    margin: 0 auto;
    width: 280px;
}

.avatar {
    border-radius: 50%;
    border: solid 3px #C7C9CB;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social a, .social a:visited, .social a:hover, .social a:active {
    color: #C7C9CB;
    font-size: larger;
}

@media only screen and (max-width: 280px) {
    body, p {
        width: 95%;
    }

    h1 {
        font-size: 1.5em;
        margin: 0 0 0.3em;
    }
}
