<footer class="li-page-footer">
    <div class="container">
        <div class="row">
            <div class="sixteen columns">
                <div class="li-page-footer-links">
                    <a href="{{ .Site.BaseURL }}/page/about-me/">About me</a> |
                    <a href="{{ .Site.BaseURL }}/page/projects/">Projects</a> |
                    <a href="https://www.weltraumschaf.de/">Website</a>
                </div>
                <div class="li-page-footer-dates">
                    last modified: {{ .Lastmod.Format "02.01.2006 – 15:04" }}
                </div>
            </div>
        </div>
    </div>
</footer>
